.container {
  width: 95%;
  max-width: rem(1110px);
  margin: 0 auto;
  position: relative;
}
section {
  width: 100%;
  position: relative;
}
.btn {
  display: inline-block;
  font-weight: 500;
  @include font-size(12px);
  transition: all 0.3s ease-out;
  outline:none;
  min-width: rem(135px);
  text-transform: uppercase;
  color: $white;
  background-color: $blue;
  padding: rem(14px) rem(29px);
  border: 1px solid transparent;
  &:hover {
    background-color: $white;
    color: $blue;
    border: 1px solid $blue;
    transition: all 0.3s ease-out;
  }
}
.block {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  .block__item {
    &:first-child {
      margin-left: 0;
    }
    &:nth-child(3n) {
      margin-right: 0;
    }
    &:nth-child(4n) {
      margin-left: 0;
    }
  }
  &--350 {
    .block__item {
      flex: 1 1 rem(350px);
      max-width: rem(350px);
      margin: 0 rem(15px) rem(15px);
    }
  }
  &--370 {
    .block__item {
      flex: 1 1 rem(370px);
      max-width: rem(370px);
      margin: 0 rem(10px) rem(15px);
    }
  }
}
.section-title {
  font-weight: 700;
  @include font-size(18px);
  line-height: rem(22px);
  letter-spacing: 0.01em;
  text-transform: uppercase;
  margin-bottom: rem(20px);
  .section-title__transfer {
    display: block;
  }
}