@font-face {
  font-family: 'Verdana';
  src: url('../fonts/Verdana.woff') format('woff2'),
       url('../fonts/Verdana.woff2') format('woff');
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: 'Verdana';
  src: url('../fonts/Verdana-Bold.woff') format('woff2'),
       url('../fonts/Verdana-Bold.woff2') format('woff');
  font-weight: 700;
  font-style: normal;
}