@function calculateRem($size) {
  $remSize: $size / 16px;
  @return $remSize * 1rem;
}

@mixin font-size($size) {
  font-size: $size;
  font-size: calculateRem($size);
}


@mixin media1080 {
  @media screen and (max-width: $media1080) {
    @content
  }
}
@mixin media1150 {
  @media screen and (max-width: $media1150) {
    @content
  }
}
@mixin media1140 {
  @media screen and (max-width: $media1140) {
    @content
  }
}
@mixin media1010 {
  @media screen and (max-width: $media1010) {
    @content
  }
}

@mixin media940 {
  @media screen and (max-width: $media940) {
    @content
  }
}

@mixin tablets {
  @media screen and (max-width: $tablets) {
    @content
  }
}

@mixin phones {
  @media screen and (max-width: $phones) {
    @content
  }
}

@mixin phones-xs {
  @media screen and (max-width: $phones-xs) {
    @content
  }
}

@function rem($px) {
  @return $px / 16px + 0rem;
}
