extends ../loyout

block variables
    - var title= "Наши услуги"
block content
    header.header
        .container
            .header__inner
                .header__logo
                    a.logo(href="#")
                        img.logo__img(src="images/content/logo.png", alt="")
                .heder__nav
                    nav.nav
                        ul.nav__list
                            li.nav__list_item
                                a.nav__list_link(href="") Услуги
                            li.nav__list_item
                                a.nav__list_link(href="") База знаний
                            li.nav__list_item
                                a.nav__list_link(href="") Новости
                            li.nav__list_item
                                a.nav__list_link(href="") Контакты
    section.basis-section
      .banner.banner--without-pic
        .container
            .banner-inner
                .banner-block
                    .banner-block__text
                        h1.banner-block__title 
                            span.banner-block__title_span Наши услуги
                        .banner-block__descript.banner-block__descript--left 
                            p Мы предоставляем самый полный комплекс услуг по внедрению технологии информационного моделирования BIM: аудит, поставка и настройка Autodesk Revit, внедрение, обучение BIM, сопровождение, разработка семейств и приложений для Revit, последующая поддержка и персональный BIM-менеджер.
                            p BIM consult предлагает внедрение PLM (Project Life Management) систем, создание междисциплинарных систем обмена строительными заданиями, моделирование зданий и сооружений для различных участников реализации строительного процесса – от замысла до эксплуатации, а также создание 4D и 5D технологий, разработку плагинов и надстроек для решения BIM-задач. 
    section.services
      .container
        .services-inner
    aside.aside
        ul.aside__list
            li.aside__item.active
                a.aside__link(href="")
                    .aside__link_left
                        .aside__link_dot
                    .aside__link_right
                        .aside__link_text Внедрение BIM технологий и систем документооборота
            li.aside__item
                a.aside__link(href="")
                    .aside__link_left
                        .aside__link_dot
                    .aside__link_right
                        .aside__link_text Обучение 
            li.aside__item
                a.aside__link(href="")
                    .aside__link_left
                        .aside__link_dot
                    .aside__link_right
                        .aside__link_text BIM-моделирование
            li.aside__item
                a.aside__link(href="")
                    .aside__link_left
                        .aside__link_dot
                    .aside__link_right
                        .aside__link_text Разработка приложений (СПО)
            li.aside__item
                a.aside__link(href="")
                    .aside__link_left
                        .aside__link_dot
                    .aside__link_right
                        .aside__link_text Базы данных
            li.aside__item
                a.aside__link(href="")
                    .aside__link_left
                        .aside__link_dot
                    .aside__link_right
                        .aside__link_text Дополненная виртуальная реальность AR
    section.services-section
        .container
            .serv-block
                .serv
                    .serv__pic(style="background-image: url('images/content/potfolio-1.png')", alt="")
                    .serv__border
                    .serv__content  
                        h3.serv__title Внедрение BIM технологий и систем документооборота
                        .serv__tezis
                            p Составление регламентирующих документов (EIR, BEP).
                            p Составление требований к ландшафту.
                            p Помощь в подборе специалистов.
                .serv-descript
                    p BIM (технология информационного моделирования зданий) — это надежная основа для всех решений на протяжении всего	жизненного цикла объекта.
                    p Технология BIM направлена на совершенствование каждой из стадий жизненного цикла инвестиционно-строительного проекта,	которое достигается за счет взаимопроникновения регламентов, процессов и интегрированной технологии моделирования.
                    p Основным отличием BIM от прочих видов проектирования является сбор и комплексная обработка всей архитектурно-конструкторской, технологической, экономической, эксплуатационной и прочей информации о здании в единой информационной среде (BIM-модели). При этом все элементы модели являются взаимосвязанными и взаимозависимыми, что, по сути, наделяет модель фактором реалистичности (приближенности к реальному зданию и реальной ситуации).
    section.statistics-section
        .container
            .stat-inner
                h3.section-title.section-title--center эффект от Bim
                .stat-descript 
                    p Анализ зарубежного опыта оценки экономической эффективности применения BIM технологии показал, что использование технологий информационного моделирования постепенно позволяет достичь значительного повышения экономической эффективности как на уровне отдельно взятых инвестиционно-строительных проектов, так и на уровне организации в целом:
                .block.block--350.block-stat-icon-up
                    .block__item
                        .advantage-block
                            .advantage-block__num(data-num="100") 0
                            .advantage-block__text Рост показателя окупаемости инвестиций на 25% и даже более (при высоком уровне внедрения) 
                    .block__item
                        .advantage-block
                            .advantage-block__num(data-num="1000") 0
                            .advantage-block__text Сокращение количества ошибок, сделанных на этапе проектирования более чем на 30%, и соответственно, сокращение потерь, связанных с их исправлением
                    .block__item
                        .advantage-block
                            .advantage-block__num(data-num="500") 0
                            .advantage-block__text Ускорение процесса проектирования на 30% и более (что приводит к значительной экономии рабочего времени и финансовых ресурсов на оплату труда)
                    .block__item__sourse Источник: 
                        a.block__item__link(href="") http://nopriz.ru/upload/iblock/2cc/4.7_bim_rf_otchot.pdf
    section.services-section
        .container
            .serv-block
                .serv
                    .serv__pic(style="background-image: url('images/content/potfolio-1.png')", alt="")
                    .serv__border
                    .serv__content  
                        h3.serv__title Внедрение BIM технологий и систем документооборота
                        .serv__tezis
                            p Составление регламентирующих документов (EIR, BEP).
                            p Составление требований к ландшафту.
                            p Помощь в подборе специалистов.
                .serv-descript
                    p BIM (технология информационного моделирования зданий) — это надежная основа для всех решений на протяжении всего	жизненного цикла объекта.
    section.statistics-section
        .container
            .stat-inner
                h3.section-title.section-title--center эффект от Bim
                .stat-descript 
                    p Анализ зарубежного опыта оценки экономической эффективности применения BIM технологии показал, что использование технологий информационного моделирования постепенно позволяет достичь значительного повышения экономической эффективности как на уровне отдельно взятых инвестиционно-строительных проектов, так и на уровне организации в целом:
                .block.block--350.block-stat-title-digit
                    .block__item
                        .advantage-block
                            .advantage-block__num 1
                            .advantage-block__text Рост показателя окупаемости инвестиций на 25% и даже более (при высоком уровне внедрения) 
                    .block__item
                        .advantage-block
                            .advantage-block__num 2
                            .advantage-block__text Сокращение количества ошибок, сделанных на этапе проектирования более чем на 30%, и соответственно, сокращение потерь, связанных с их исправлением
                    .block__item
                        .advantage-block
                            .advantage-block__num 3
                            .advantage-block__text Ускорение процесса проектирования на 30% и более (что приводит к значительной экономии рабочего времени и финансовых ресурсов на оплату труда)
    section.services-section
        .container
            .serv-block
                .serv
                    .serv__pic(style="background-image: url('images/content/potfolio-1.png')", alt="")
                    .serv__border
                    .serv__content  
                        h3.serv__title BIM-моделирование
                        .serv__tezis
                            p Моделирование зданий и сооружений любой степени сложности;
                            p Наполнение модели неграфической информацией (LOI).
                            p Проверка геометрии, планировочных и конструктивных решений
                            p Проверка объёмов и спецификаций
                            p Увязка и проверку модели на пересечение инженерных систем
                            p Проверка собираемости зданий по различным разделам рабочей документации (КЖ, КМ, ОВ, АР и т.д.)
                .serv-descript
                    p Информационное моделирование зданий (BIM) — это процесс, основанный на использовании интеллектуальных 3D-моделей. С помощью этой технологии специалисты по проектированию архитектурных элементов, инженерных систем и строительных конструкций (AEC) могут еще эффективнее планировать, проектировать, строить и эксплуатировать здания и объекты инфраструктуры.
    section.statistics-section  
        .container
            .stat-inner
                h3.section-title.section-title--center BIM-моделирование
                .stat-descript 
                    p Анализ зарубежного опыта оценки экономической эффективности применения BIM технологии показал, что использование технологий информационного моделирования постепенно позволяет достичь значительного повышения экономической эффективности как на уровне отдельно взятых инвестиционно-строительных проектов, так и на уровне организации в целом:
                .block.block--350.block-stat-check
                    .block__item
                        .advantage-block
                            .advantage-block__num Для проектировщиков
                            .advantage-block__text 
                                p Приведение в соответствие собственной BIM-модели со сторонними подрядными организациями
                                p Организация мониторинга объекта строительства или процесса реконструкции
                                p Создание календарного графика работ на основе BIM-модели
                    .block__item
                        .advantage-block
                            .advantage-block__num Для застройщиков
                            .advantage-block__text 
                                p Проверка геометрии, планировочных и конструктивных решений здания или сооружения
                                p Проверка объёмов и спецификаций
                                p Увязка и проверка модели на пересечение инженерных систем
                    .block__item
                        .advantage-block
                            .advantage-block__num Для эксплуатации
                            .advantage-block__text 
                                p Оптимизация затрат на эксплуатацию объекта
                                p Повышение эффективности работы систем
                                p Сокращение время реагирования в случае штатных и нештатных эксплуатационных ситуаций
    section.services-section
        .container
            .serv-block
                .serv
                    .serv__pic(style="background-image: url('images/content/potfolio-1.png')", alt="")
                    .serv__border
                    .serv__content  
                        h3.serv__title BIM-моделирование
                        .serv__tezis
                            p Моделирование зданий и сооружений любой степени сложности;
                            p Наполнение модели неграфической информацией (LOI).
                            p Проверка геометрии, планировочных и конструктивных решений
                            p Проверка объёмов и спецификаций
                            p Увязка и проверку модели на пересечение инженерных систем
                            p Проверка собираемости зданий по различным разделам рабочей документации (КЖ, КМ, ОВ, АР и т.д.)
                .serv-descript
                    p Информационное моделирование зданий (BIM) — это процесс, основанный на использовании интеллектуальных 3D-моделей.
    section.statistics-section  
        .container
            .stat-inner
                h3.section-title.section-title--center Этапы работы над проектом
                .road
                    span.dashed-line.dashed-line--bottom
                    span.dashed-line.dashed-line--left
                    span.dashed-line.dashed-line--right
                    .road__item
                        .road__item__number 1
                        .road__item__text Техническое задание
                    .road__item
                        .road__item__number 2
                        .road__item__text Концепция и проработка сценария
                    .road__item
                        .road__item__number 3
                        .road__item__text Дизайн приложения и подготовка 3D-моделей
                    .road__item
                        .road__item__number 4
                        .road__item__text Программирование
                    .road__item
                        .road__item__number 5
                        .road__item__text Создание опорной точки (метки)
                    .road__item
                        .road__item__number 6
                        .road__item__text Тестирование
                    .road__item
                        .road__item__number 7
                        .road__item__text Доработка
                    .road__item
                        .road__item__number 8
                        .road__item__text Запуск проекта
    section.mailing-section
        .container 
            .mailing-inner
                h3.section-title.section-title--center ОСТАВАЙТЕСЬ НА СВЯЗИ
                .mailing-descript 
                    span.mailing-descript_bold Подпишитесь на рассылку ИМ Консалт 
                    | и узнавайте первыми о новостях, акциях, курсах и мероприятиях нашей компании
                .mailing__btn   
                     form.form-mailing#form-mailing(action="" method="post" name="mailing_form")
                        input.form-miling__input(type="text" name="name")
                        input.btn(type="submit" value="Подписаться")
    section.portfolio-section
        .container
            .portfolio__inner
                .block.block--370
                    .block__item
                        h2.section-title.section-title--arrow.section-title--white наши проекты
                        .feedback__text 
                            p Мы предоставляем комплекс услуг по внедрению BIM технологии.
                            p Сотрудничаем с ведущими предприятиями отрасли, увеличивая эффективность их работы.
                    .block__item(style="background-image: url('images/content/potfolio-1.png')")
                        a.block__item_link(href="#")
                            .block__item_descript Внедрение BIM технологий и систем документооборота
                    .block__item(style="background-image: url('images/content/potfolio-2.png')")
                        .block__item_descript Внедрение BIM технологий и систем документооборота
                    .block__item(style="background-image: url('images/content/potfolio-3.png')")
                        .block__item_descript Внедрение BIM технологий и систем документооборота
                    .block__item(style="background-image: url('images/content/potfolio-1.png')")
                        .block__item_descript Внедрение BIM технологий и систем документооборота
                    .block__item(style="background-image: url('images/content/potfolio-2.png')")
                        .block__item_descript Внедрение BIM технологий и систем документооборота
    footer.footer-section
      .container
          .footer
              .footer__left
                  .footer__left_logo
                      a.footer__left_logo-link(href="#")
                          img.footer__left_logo-img(src="images/content/logo-white.png", alt="")
                  .footer__left_text
                      p Все права принадлежат ООО "ИМ консалт". 2019
                      p 195196 г. Санкт-Петербург. ул.Рижская, д.1 / ул.Таллинская 7,  БЦ Р1, оф. 200-1.
                      a.footer__link(href="tel:+78120000000") + 7 (812) 000-00-00
                      <br>
                      a.footer__link(href="mailto:info@im-consult.ru") info@im-consult.ru
              .footer__right
                  .social
                      -
                          var socials = [
                              ['vk','#'],
                              ['youtube','https://www.youtube.com/channel/UCHCWjU5d23j-A9Weqd34njg']
                              ]
                      ul.social__list
                          each social in socials
                              li.social__item
                                  a(class=`social__link social__link_${social[0]}` href=`${social[1]}` target="_blank")
                                      svg.social__link_svg(width='100%' height='100%')
                                          use(xlink:href=`images/icons/sprite.svg#${social[0]}`)