.licens-section {
  background-image: url(../images/bg/licens-bg.png);
  // background-color: #ccc;
  background-repeat: no-repeat;
  background-size: cover;
  padding: rem(100px) 0 rem(115px);
  &:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.7);
  }
}
.licens {
  display: flex;
  flex-wrap: wrap;
  .block__item {
    position: relative;
    min-height: rem(286px);
    min-width: rem(360px);
    width: 33.3333%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    margin: 0;
    &:first-child {
      background-color: $white;
      display: flex;
      align-items: center;
      padding: rem(20px) rem(55px) rem(20px) rem(40px);
    }
    &:not(:first-child) {
      .block__item_descript{
        &::before {
          content: '';
          position: absolute;
          top: 50%;
          left: 50%;
          height: rem(60px);
          width: rem(60px);
          background-image: url(../images/icons/zoom.png);
          background-size: cover;
          background-repeat: no-repeat;
          transform: translateX(-50%) translateY(-50%);
        }
      }
      &:hover {
        cursor: pointer;
        .block__item_descript {
          background: rgba(0, 0, 0, 0.7);
          transition: all .4s ease-out;
          opacity: 1;
        }
      }
    }
  }
}