.partner-section {
  padding: rem(40px) 0 rem(80px);
  .section-title {
    margin-bottom: rem(38px);
  }
}
.partner-list {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.partner-list__item {
  position: relative;
  overflow: hidden;
  transition: all .3s ease-out;
}
.partner-list__item_img {
  min-width: rem(160px);
  min-height: rem(110px);
}
.border-line {
  z-index: 10;
}
.partner-list__item {
  &:hover { 
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.75);
    transition: all .3s ease-out;
  }
}
